<div class="container mt-5">
	<ul class="breadcrumb">
		<li>
			<a routerLink="/empresas">Empresas</a>
		</li>
		<li>{{ nameAgency }}</li>
	  </ul>
	  

	<div class="table-responsive">
		<table id="empresas" class="table">
			<thead>
				<tr class="table-active">
					<th (click)="sortBy('clientes')" scope="col">
						Nombre cliente <span
							*ngIf="sortClientes;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
						<ng-template #templateName><i class="fa-sort fas"></i></ng-template>
					</th>
					<th (click)="sortBy('personas')" scope="col">
						Personas <span *ngIf="sortPersonas;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
						<ng-template #templateName><i class="fa-sort fas"></i></ng-template>
					</th>
					<th (click)="sortBy('dia')" scope="col">
						Día <span *ngIf="sortDias;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
						<ng-template #templateName><i class="fa-sort fas"></i></ng-template>
					</th>
					<th scope="col">
						Hora
					</th>
					<th (click)="sortBy('ventas')" scope="col">
						Valor de Venta <span *ngIf="sortVentas;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
						<ng-template #templateName><i class="fa-sort fas"></i></ng-template>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let venta of ventas">
					<th>{{venta.name}}</th>
					<td>{{ venta.persons }}</td>
					<td>{{ venta.day | date: 'dd/MM/yyyy'}}</td>
					<td>{{ venta.hour }}</td>
					<td>{{ venta.finalPrice | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>