<div class="container mt-5">
    {{!empresaMasVentas ? 'Cargando...' : ''}}
    <div class="row">
        <div class="col-12 col-md-6 mt-2 mt-md-0">
            <app-card *ngIf="empresaMasVentas;" [text]="'Empresa mas ventas: ' + empresaMasVentas?.nameAgency" [total]="empresaMasVentas?.finalPrice"></app-card>
        </div>
        <div class="col-12 col-md-6 mt-2 mt-md-0">
            <app-card *ngIf="mesMasVentas;" [text]="'MES MAS VENTAS'" [month]="getMonth(mesMasVentas.mes)"></app-card>
        </div>
    </div>
    <div class="mt-5 table-responsive">
        <table id="empresas" *ngIf="empresaMasVentas;" class="table">
            <thead>
                <tr class="table-active">
                    <th (click)="sortByAgency('agency')" scope="col">
                        Nombre Empresa <span *ngIf="sortAgency;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
                        <ng-template #templateName><i class="fa-sort fas"></i></ng-template>
                    </th>
                    <th (click)="sortByAgency('ventas')" scope="col">Total de Ventas <span
                            *ngIf="sortVentas;else templateName">{{asc ? '&#9650;' : '&#9660;'}}</span>
                        <ng-template #templateName><i class="fa-sort fas"></i></ng-template>
                    </th>
                    <th scope="col">Comisión</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empresa of ventas">
                    <th scope="row">{{empresa?.nameAgency}}</th>
                    <td>{{empresa?.finalPrice | currency}}</td>
                    <td>{{empresa?.finalPrice * 0.025 | currency}}</td>
                    <td><a [routerLink]="['/empresa/' + empresa?.nameAgency]">Ver Detalles</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>