<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mt-2 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <h2>Empresa Mas Venta</h2>
                    <h1>$840.000</h1>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-2 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <h2>Mes mas venta</h2>
                    <h1>ENERO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <table id="empresas" class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">Nombre Empresa</th>
                    <th scope="col">Total de Ventas</th>
                    <th scope="col">Comisión</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empresa of empresas; index as i">
                    <th scope="row">{{empresa.nameAgency}}</th>
                    <td>{{empresa.finalPrice}}</td>
                    <td>{{empresa.finalPrice}}</td>
                    <td><a [routerLink]="['/empresa/' + empresa.nameAgency]">Ver Detalles</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>